{% extends "layout.html" %}

{% block title %}
    Color Picker
{% endblock %}

{% block head %} 
  <link href="../static/color-picker.css" rel="stylesheet">
  <script async src="../static/color-picker.js"></script> 
{% endblock %} 

{% block main %}

<h1> Color Picker </h1> <br/>

  <div class="color_picker"> 
    <input type="color" id="colorPicker" value="#E93E30"> 
    <label for="colorPicker" id="colorLabel">Hex: #e93e30</label>
  </div>
  <br> 

  <button id="copyBtn" type="button" data-toggle="tooltip" data-placement="bottom" title="Copied to clipboard!">Copy Hex</button>

{% endblock %}
