{% extends "layout.html" %}

{% block head %} 
        <!-- https://github.com/itsjavi/bootstrap-colorpicker -->
        <link href="/bootstrap-colorpicker\dist\css\bootstrap-colorpicker.css" rel="stylesheet">
{% endblock %} 

{% block title %}
    Color Picker
{% endblock %}

{% block main %}
    <h1> Color Picker. </h1>
    <input id="cp1" type="text" class="form-control input-lg" value=""/>
    <script>
    $(function () {
        $('#cp1').colorpicker();
    });
    </script>
{% endblock %}
