{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1> Home Page. </h1>
    <img src="../static/icon.png" alt="favicon">
    <h3> <b>Webdevpack</b> is a website that provides a collection of simple tools that help web developers and 
        (hopefully) make their lives easier. </h3> <br>
    <h3> The only tool available currently is the <a href="/color-picker">Color Picker</a>, which lets the user pick a color and 
        provides him with the RGB, HSL, or Hex codes, with the choice of copying the hex code to the clipboard.</h3>
{% endblock %}